digraph G {
    node [shape=record; fontname=Monospace; fontsize=10; penwidth=1.5];

    {{ range $name, $members := .Teams -}}
    "{{ $name }}" [ label="{*{{ $name }}*|{{ join $members "|" }}}" ]
    {{ end }}

    {{ range $child, $parent := .Parents -}}
    "{{ $parent }}" -> "{{ $child }}" [penwidth=1.5];
    {{ end }}

    {{ range $child, $parent := .Subsets -}}
    {{- if ne $parent (index $.Parents $child) -}}
    "{{ $parent }}" -> "{{ $child }}" [style=dotted];
    {{ end -}}
    {{ end }}
}
